<html>
   <body>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <ul class=flashes>
            {% for message in message %}
                <li>{{message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
      <form action="http://localhost:5000/" method = "POST" enctype="multipart/form-data">
          <input type="file" name="file" /><br>
          <input type="text" name="headline" maxlength="{{ maxlength_headline }}"/><br>
          <input type="text" name="synopsis" maxlength="{{ maxlength_synopsis}}"/><br>
         <input type="submit"/>
      </form>
      {% if filename %}
        <img src="static/uploads/{{ filename }}" /><br>
        <a href="static/uploads/{{ filename }}" download="tweetcard.png">
            <button type="button">Save</button>
        </a> 
      {% endif %}
   </body>
</html>
